{% extends "jukebox/admin_base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
        <h1 class="mb-4">Comprova la teva bústia!</h1>
        <p>
            T’hem enviat un correu electrònic amb instruccions per restablir la teva contrasenya.<br>
            Si no el reps en uns minuts, revisa la carpeta de correu brossa o <b>spam</b>.
        </p>
        <p class="mt-3">
            Si tens cap problema, <a href="mailto:support@djjukebox.cat">contacta amb suport</a>.
        </p>
        <a href="{% url 'account_login' %}" class="btn btn-primary mt-4">Torna a iniciar sessió</a>
    </div>
</div>
{% endblock %}
