{% extends "jukebox/admin_base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
        <h1 class="mb-4">Recupera la teva contrasenya</h1>
        <p>
            Has oblidat la contrasenya? Introdueix el teu correu electrònic i t'enviarem un enllaç per restablir-la.
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <div class="text-danger">{{ form.email.errors }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-block mt-3">Envia l'enllaç</button>
        </form>
    </div>
</div>
{% endblock %}
