{% extends "jukebox/admin_base.html" %}

{% block content %}
<div class="container" style="max-width:500px; margin:auto;">
    <h2 class="mb-4 mt-5 text-center">Estableix la teva contrasenya</h2>

    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                {% for field in form %}
                    {% for error in field.errors %}
                        <div>{{ error|escape }}</div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div>{{ error|escape }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="mb-3">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>
        <div class="mb-3">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>
        <ul>
            <li>La contrasenya ha de tenir almenys 8 caràcters.</li>
            <li>No pot ser només numèrica.</li>
            <li>No pot ser massa similar a la teva informació personal.</li>
            <li>No pot ser una contrasenya habitual.</li>
        </ul>
        <button type="submit" class="btn btn-primary w-100">Estableix contrasenya</button>
    </form>
</div>
{% endblock %}
